@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
body{
    display: flex;
    height: 150vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, #BB1900, #FD6F01, #FFB000);
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    
}
.user-details .input-box input{
    height: 40px;
    width: 100%;
}
form .gender-details .category{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
}
form .button{
    height: 40px;
}
form .button input{
    height: 100%;
    width: 300%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    background: linear-gradient(150deg, #BB1900, #FD6F01, #FFB000);
}
.box{
    height: 40%;
    width: 40%;
}